[submodule "rocksdb"]
	path = librocksdb_sys/rocksdb
	url = https://github.com/tikv/rocksdb.git
	branch = 6.4.tikv

[submodule "titan"]
	path = librocksdb_sys/libtitan_sys/titan
	url = https://github.com/tikv/titan.git
	branch = master

[submodule "rocksdb-cloud"]
	path = librocksdb_sys/librocksdb_cloud_sys/rocksdb-cloud
	url = https://github.com/tikv/rocksdb
	branch = 6.4.cloud
