[submodule "rocksdb-sys/rocksdb"]
	path = librocksdb-sys/rocksdb
	url = https://github.com/facebook/rocksdb.git
[submodule "rocksdb-sys/snappy"]
	path = librocksdb-sys/snappy
	url = https://github.com/google/snappy.git
